body {
    margin: 0;
    padding: 0;

}

.header {
    width: 100%;
    height: 1024px;

}

.logoAndNav {
    width: 100%;
    height: 115px;
    position: absolute;
    display: flex;
    z-index: 2;
}
.logo {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.imgLogo {
    width: 65px;
    height: 65px;
    margin-top: 35px;
    margin-right: 2px;
}
.textLogo {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 34px;
    font-weight: 400;
    margin-top: 48px;
    margin-right: 17px;
}
.nav {
    width: 46%;
    height: 100%;
    display: flex;
}
.searche {
    width: 20%;
    height: 100%;
    display: flex;
}
.meny ul,
.meny ol {
    list-style: none;
}

.meny > ul {
    display: flex;
    /*justify-content: center;*/

}
.meny > ul li a {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    padding: 7px 0px 6px 1px;;
    margin-left: 25px;
    position: relative;
    left: 125px;
    transition: 0.5s ease;
    margin-top: 34px;
}
.meny > ul li a:hover {
    color: #a18665;
}
.meny li ul {
    position: absolute;
    min-width: 150px;
    background-color: black;
    display: none;
    transition: 0.5s ease;
    -webkit-box-shadow: -2px 5px 30px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 5px 30px -1px rgba(0,0,0,0.75);
    box-shadow: -2px 5px 30px -1px rgba(0,0,0,0.75);
    margin-top: 20px;
    margin-left: 62px;
}
.meny li > ul li {
    border-bottom: 1px solid white;
}
.meny li > ul li:last-child {
    border-bottom: none;
}
.meny li > ul li ul {
    position: absolute;
    right: -217px;
    bottom: -14px;
}
.meny li > ul li a {
    left: -52px;
    top: -18px;
}
.meny li:hover > ul {
    display: block;
}
.search {
    margin-left: 22px;
    color: white;
    margin-top: 59px;
}
.search:hover {
    color: #a18665;
}
.shop {
    margin-top: 57px;
    margin-left: 4px;
    color: white;
}
.shop:hover {
    color: #a18665;
}
.container_header {
    max-width: 860px;
    min-height: 530px;
    display: flex;
    border: 1px solid red;
    margin: 0 auto;
    position: relative;

}
.header_text {
    position: absolute;
    top: 33%;
    left: 38%;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 36px;
    letter-spacing: 1px;
}
.header_p {
    position: absolute;
    top: 38%;
    left: 34%;
    color: white;
    font-size: 52px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-weight: 800;
}
.p_text {
    position: absolute;
    top: 47%;
    left: 34%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 16px;
    text-align: center;
}
.header_button {
    position: absolute;
    width: 168px;
    height: 50px;
    left: 45%;
    top: 58%;
    background-color: #998675;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 3px;
}
.header_button:hover {
    background-color: white;
    color: #998675;
}
.header_p_1 {
    position: absolute;
    top: 38%;
    left: 37%;
    color: white;
    font-size: 52px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-weight: 800;
}
.p_text_1 {
    position: absolute;
    top: 47%;
    left: 40%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 16px;
    text-align: center;
}
.header_button_1 {
    position: absolute;
    width: 168px;
    height: 50px;
    left: 46%;
    top: 58%;
    background-color: #998675;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 3px;
}
.header_button_1:hover {
    background-color: white;
    color: #998675;
}
.header_p_2 {
    position: absolute;
    top: 38%;
    left: 32%;
    color: white;
    font-size: 52px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-weight: 800;
}
.p_text_2 {
    position: absolute;
    top: 47%;
    left: 40%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 16px;
    text-align: center;
}
.header_button_2 {
    position: absolute;
    width: 168px;
    height: 50px;
    left: 46%;
    top: 56%;
    background-color: #998675;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 3px;
}
.header_button_2:hover {
    background-color: white;
    color: #998675;
}

#mob_bg {
    display: none;
}
#mob_bg2 {
    display: none;
}
#mob_bg3 {
    display: none;
}
.container {
    display: none;
}
.toggleSubMenu {
    display: none;
}
.service {
    height: 370px;
    width: 100%;
    display: flex;
}
.container_service {
    width: 1200px;
    height: 100%;
    display: flex;
    margin: 0 auto;
}
.service_block {
    display: flex;
    width: 25%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.infom_blog {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s ease;
    cursor: pointer;

}
.service_h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #555555;
    margin-top: 25px;
    transition: 0.5s ease;

}
.service_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    line-height: 1.6;
    color: #555555;
}
.service_polosa {
    width: 35%;
    display: flex;
    height: 3px;
    background-color: #f1eee9;
    transition: 0.5s ease;

}
.service_ico {
    color: #555555;
    transition: 0.5s ease;

}
.infom_blog:hover {
    margin-top: -10px;
}
.infom_blog:hover .service_ico {
    color: #c7b299;
}
.infom_blog:hover .service_h1 {
    color: #c7b299;
}
.infom_blog:hover .service_polosa {
    background-color: #c7b299
}
.waxom {
    width: 100%;
    height: 700px;
    background-color: #fbfaf8;
    display: flex;

    overflow-y: hidden;
}
.container_waxom {
    width: 1200px;
    height: 100%;
    display: flex;
    margin: 0 auto;

    flex-direction: column;
    align-items: center;

}
.waxom_h {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #8d8c8c;
    margin-top: 79px;
}
.waxom_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #8d8c8c;
    font-weight: 300;
    margin-top: 1px;
}
.waxomImg {
    position: relative;
    top: 62px;
    z-index: 2;
}
.waxomImg1 {
    position: relative;
    right: 231px;
    bottom: 341px;
}
.waxomImg2 {
    position: relative;
    left: 234px;
    bottom: 794px;
}





@media screen and (max-width: 1800px){
    .logo {
        width: 23%;
    }
    .nav {
        width: 57%;
    }
    .meny > ul li a {
        padding: 7px 11px 6px 1px;
        margin-left: 16px;
        left: 91px;
    }
    .meny li ul {
        margin-top: 0px;
    }
    .shop {
        margin-left: 23px;
    }
    .header_text {
        left: 36%;
        /*top: 30%;*/
    }
    .header_p {
        /*top: 36%;*/
        left: 33%;
    }
    .p_text {
        left: 33%;
    }
    .header_button {
        left: 45%;
    }
    .header_p_1 {
        left: 34%;
        /*top: 36%;*/
    }
    .p_text_1 {
        left: 37%;
    }
    .header_button_1 {
        left: 45%;
    }
    .header_p_2 {
        left: 30%;
        /*top: 36%;*/
    }
    .p_text_2 {
        left: 39%;
    }
    .header_button_2 {
        left: 45%;
    }
    /*.bg {*/
        /*height: 770px;*/
    /*}*/
    /*.bg1 {*/
        /*height: 770px;*/
    /*}*/
    /*.bg2 {*/
        /*height: 770px;*/
    /*}*/
    /*.header {*/
        /*height: 770px;*/
    /*}*/
}
@media screen and (max-width: 1460px){
    .logo {
        width: 23%;
    }
    .nav {
        width: 57%;
    }
    .meny > ul li a {
        padding: 7px 11px 6px 1px;
        margin-left: 16px;
        left: 91px;
    }
    .meny li ul {
        margin-top: 0px;
    }
    .shop {
        margin-left: 23px;
    }
    .header_text {
        left: 34%;
        top: 30%;
    }
    .header_p {
        top: 36%;
        left: 29%;
    }
    .p_text {
        left: 30%;
    }
    .header_button {
        left: 45%;
    }
    .header_p_1 {
        left: 32%;
        top: 36%;
    }
    .p_text_1 {
        left: 35%;
    }
    .header_button_1 {
        left: 44%;
    }
    .header_p_2 {
        left: 26%;
        top: 36%;
    }
    .p_text_2 {
        left: 36%;
    }
    .header_button_2 {
        left: 43%;
    }
    .bg {
        height: 770px;
    }
    .bg1 {
        height: 770px;
    }
    .bg2 {
        height: 770px;
    }
    .header {
        height: 770px;
    }
}
@media screen and (max-width: 1350px){
    .logo {
        width: 23%;
    }
    .nav {
        width: 57%;
    }
    .meny > ul li a {
        padding: 7px 8px 6px 1px;
        margin-left: 2px;
        left: 6px;
    }
    .meny li ul {
        margin-top: 0px;
        margin-left: 0px;
    }
    .meny li > ul li a {
        left: -23px;
        top: -8px;
    }
    .shop {
        margin-left: 53px;
    }
    .header_text {
        left: 31%;
        top: 30%;
        font-size: 30px;
    }
    .header_p {
        top: 36%;
        left: 28%;
        font-size: 40px;
    }
    .p_text {
        left: 30%;
        font-size: 12px;
    }
    .header_button {
        left: 45%;
        width: 137px;
        height: 39px;
        top: 56%;
        font-size: 12px;
    }
    .header_p_1 {
        left: 30%;
        top: 36%;
        font-size: 40px;
    }
    .p_text_1 {
        left: 29%;
    }
    .header_button_1 {
        left: 42%;
        width: 137px;
        height: 39px;
        top: 56%;
        font-size: 12px;
    }
    .header_p_2 {
        left: 24%;
        top: 36%;
        font-size: 40px;
    }
    .p_text_2 {
        left: 32%;
    }
    .header_button_2 {
        left: 43%;
        width: 137px;
        height: 39px;
        top: 56%;
        font-size: 12px;
    }
    .bg {
        height: 770px;
    }
    .bg1 {
        height: 770px;
    }
    .bg2 {
        height: 770px;
    }
    .header {
        height: 770px;
    }
    .waxomImg {
        top: 131px;
        width: 650px;
    }
    .waxomImg1 {
        right: 223px;
        bottom: 223px;
        width: 600px;
    }
    .waxomImg2 {
        left: 231px;
        bottom: 569px;
        width: 600px;
    }
}
@media screen and (max-width: 1000px) {
    .logo {
        width: 26%;
    }
    .nav {
        width: 54%;
    }
    .meny > ul li a {
        padding: 8px 4px 9px 1px;
        margin-left: 4px;
        left: 11px;
        font-size: 10px;
    }
    .imgLogo {
        width: 47px;
        height: 47px;
    }
    .textLogo {
        font-size: 29px;
        margin-top: 47px;

    }
    .header_text {
        left: 28%;
        font-size: 27px;
    }
    .header_p {
        top: 37%;
        left: 23%;
        font-size: 37px;
    }
    .p_text {
        left: 22%;
        font-size: 12px;
    }
    .header_button {
        left: 41%;
    }
    .header_p_1 {
        top: 37%;
        left: 27%;
        font-size: 37px;
    }
    .p_text_1 {
        left: 32%;
        font-size: 12px;
    }
    .header_button_1 {
        left: 41%;
    }
    .header_p_2 {
        top: 37%;
        left: 20%;
        font-size: 37px;
    }
    .p_text_2 {
        left: 22%;
        font-size: 12px;
        left: 33%;
    }
    .header_button_2 {
        left: 41%;
    }
    .waxom {
        height: 550px;
    }
    .waxomImg {
        top: 40px;
        width: 550px;
        right: 20px;
    }
    .waxomImg1 {
        right: 161px;
        bottom: 227px;
        width: 451px;
    }
    .waxomImg2 {
        left: 126px;
        bottom: 493px;
        width: 450px;
    }
}
@media screen and (max-width: 800px)  {
    .imgLogo {
        width: 35px;
        height: 35px;
    }
    .meny > ul {
        padding: 0;
    }
    .meny > ul li a {
        padding: 0px 0px 9px 1px;
        margin-left: 4px;
        left: 1px;
        font-size: 9px;
    }
    .shop {
        margin-top: 48px;
        margin-left: 28px;
    }
    .search {
        margin-top: 48px;
    }
    .textLogo {
        font-size: 25px;
        margin-top: 40px;
    }
    .header_text {
        left: 28%;
        font-size: 22px;
    }
    .header_p {
        top: 35%;
        left: 20%;
        font-size: 33px;
    }
    .p_text {
        left: 16%;
        font-size: 12px;
    }.header_p_1 {
         top: 35%;
             left: 24%;
         font-size: 33px;
     }
    .p_text_1 {
        left: 25%;
        font-size: 12px;
    }
    .header_p_2 {
        top: 35%;
        left: 15%;
        font-size: 33px;
    }
    .p_text_2 {
        left: 30%;
        font-size: 12px;
    }
    .waxomImg {
        top: 106px;
        width: 400px;
        right: 5px;
    }
    .waxomImg1 {
        right: 103px;
        bottom: 97px;
        width: 350px;
    }
    .waxomImg2 {
        left: 101px;
        bottom: 304px;
        width: 350px
    }

}
@media screen and (max-width: 600px) {
    html{

        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    .imgLogo {
        width: 34px;
        height: 34px;
        margin-top: 25px;
        margin-left: 25px;
    }
    .textLogo {
        font-size: 18px;
        margin-top: 32px;
        margin-right: 13px;
    }
    .logo {
        width: 32%;
    }
    .nav {
        width: 44%;
    }
    .meny > ul {
        display: block;
        padding: 0px;
        position: absolute;
        background-color: black;
        width: 351px;
        right: -2px;
        top: 58px;
        text-align: center;
        transition: 1s ease;

    }
    .meny > ul li a {
        padding: 0px;
        border-bottom: 1px solid white;
        margin-left: 0px;
        left: 0px;
    }
    .meny li:hover > ul {
        display: none;
    }
    .meny li > ul li a {
        left: 0px;
    }

    .shop {
        margin-left: 0px;
        margin-top: 36px;
    }
    .search {
        margin-top: 36px;
    }
    .meny {
        display: none;
    }

    .menu__btn {
        position: relative;
        display: block;
        height: 40px;
        width: 40px;
        border: 3px solid white;
        border-radius: 0;
        -webkit-transition: border-radius 300ms ease;
        transition: border-radius 300ms ease;
        left: 112px;
        top: 19px;
    }
    .menu__btn:hover {
        border-radius: 50%;
    }
    .menu__btn.is-open .menu__burger {
        opacity: 0;
        -webkit-transform: translateX(45px);
        transform: translateX(45px);
    }
    .menu__btn.is-open .menu__exit {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .menu__burger,
    .menu__burger:before,
    .menu__burger:after {
        display: block;
        content: '';
        width: 18px;
        height: 3px;
        background-color: white;
        position: absolute;
    }

    .menu__burger {
        left: 12px;
        top: 18px;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
        -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
        transition: opacity 300ms ease, -webkit-transform 300ms ease;
        transition: opacity 300ms ease, transform 300ms ease;
        transition: opacity 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
    }
    .menu__burger:before {
        top: -8px;
    }
    .menu__burger:after {
        top: 8px;
    }

    .menu__exit:before,
    .menu__exit:after {
        display: block;
        content: '';
        width: 22px;
        height: 3px;
        background-color: white;
        position: absolute;
    }

    .menu__exit {
        position: absolute;
        top: 18px;
        left: 10px;
        -webkit-transform: translateX(-45px);
        transform: translateX(-45px);
        opacity: 0;
        -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
        transition: opacity 300ms ease, -webkit-transform 300ms ease;
        transition: opacity 300ms ease, transform 300ms ease;
        transition: opacity 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
    }
    .menu__exit:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .menu__exit:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .logoAndNav {
        width: 97%;
        height: 76px;
    }
    .header_text {
        left: 22%;
        top: 30%;
        font-size: 18px;
    }
    .header_p {
        top: 36%;
        left: 13%;
        font-size: 26px;
    }
    .p_text {
        left: 23%;
        font-size: 12px;
        width: 236px;
        top: 43%;
    }
    .header_button {
        left: 33%;
    }
    .header_p_1 {
        top: 36%;
        left: 19%;
        font-size: 26px;
    }
    .p_text_1 {
        left: 23%;
        font-size: 12px;
        width: 236px;
        top: 43%;
    }
    .header_button_1 {
        left: 33%;
    }
    .header_p_2 {
        top: 36%;
        left: 11%;
        font-size: 24px;
    }
    .p_text_2 {
        left: 21%;
        font-size: 12px;
        width: 236px;
        top: 43%;
    }
    .header_button_2 {
        left: 33%;
    }
    .meny label.toggleSubMenu {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: block;
    }
    input.toggleSubMenu:checked ~ a {
        background: silver;

    }
    input.toggleSubMenu:checked ~ ul {
        display: block;
        position: relative;
    }
    .meny label.toggleSubMenu .fa:before {
        content: "\f0d7";
        color: white;
    }
    .meny label.toggleSubMenu .fa {
        position: absolute;
        top: 32px;
        right: 30px;
    }
    .meny input.toggleSubMenu:checked ~ label.toggleSubMenu .fa::before {
        content: "\f0d8";
        color: #ffffff;
    }
    .service {
        height: 951px;
    }
    .infom_blog {
        width: 100%;
        height: 100%;
    }
    .service_block {
        width: 100%;
        height: 25%;
    }
    .container_service {
        flex-direction: column;
    }
    .waxom_h {
        font-size: 22px;
    }
    .waxom_text {
        font-size: 12px;
    }
    .waxom {
        height: 385px;
    }
    .waxomImg {
        top: 45px;
        width: 250px;
        right: 5px;
    }
    .waxomImg1 {
        right: 84px;
        bottom: 71px;
        width: 200px;
    }
    .waxomImg2 {
        left: 82px;
        bottom: 189px;
        width: 200px;
    }
}







@media screen and (max-width: 375px) {
    html{

        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    /*body*/
    /*{*/
        /*width: 100%;*/
        /*max-width: 100%;*/
        /*overflow-x: hidden;*/
    /*}*/
    #bg {
        display: none;
    }
    #bg1 {
        display: none;
    }
    #bg2 {
        display: none;

    }
    #mob_bg {
        display: block;
        height: 668px;
    }
    #mob_bg2 {
        display: block;
        height: 668px;
    }
    #mob_bg3 {
        display: block;
        height: 668px;
    }
    .imgLogo {
        width: 34px;
        height: 34px;
        margin-top: 25px;
        margin-left: 25px;
    }
    .textLogo {
        font-size: 18px;
        margin-top: 32px;
        margin-right: 13px;
    }
    .logo {
        width: 32%;
    }
    .nav {
        width: 44%;
    }
    .meny > ul {
        display: block;
        padding: 0px;
        position: absolute;
        background-color: black;
        width: 351px;
        right: -2px;
        top: 58px;
        text-align: center;
        transition: 1s ease;

    }
    .meny > ul li a {
        padding: 0px;
        border-bottom: 1px solid white;
        margin-left: 0px;
        left: 0px;
    }
    .meny li:hover > ul {
        display: none;
    }
    .meny li > ul li a {
        left: 0px;
    }

    .shop {
        margin-left: 0px;
        margin-top: 36px;
    }
    .search {
        margin-top: 36px;
    }
    .meny {
        display: none;
    }

    .menu__btn {
        position: relative;
        display: block;
        height: 40px;
        width: 40px;
        border: 3px solid white;
        border-radius: 0;
        -webkit-transition: border-radius 300ms ease;
        transition: border-radius 300ms ease;
        left: 100px;
        top: 19px;
    }
    .menu__btn:hover {
        border-radius: 50%;
    }
    .menu__btn.is-open .menu__burger {
        opacity: 0;
        -webkit-transform: translateX(45px);
        transform: translateX(45px);
    }
    .menu__btn.is-open .menu__exit {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .menu__burger,
    .menu__burger:before,
    .menu__burger:after {
        display: block;
        content: '';
        width: 18px;
        height: 3px;
        background-color: white;
        position: absolute;
    }

    .menu__burger {
        left: 12px;
        top: 18px;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
        -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
        transition: opacity 300ms ease, -webkit-transform 300ms ease;
        transition: opacity 300ms ease, transform 300ms ease;
        transition: opacity 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
    }
    .menu__burger:before {
        top: -8px;
    }
    .menu__burger:after {
        top: 8px;
    }

    .menu__exit:before,
    .menu__exit:after {
        display: block;
        content: '';
        width: 22px;
        height: 3px;
        background-color: white;
        position: absolute;
    }

    .menu__exit {
        position: absolute;
        top: 18px;
        left: 10px;
        -webkit-transform: translateX(-45px);
        transform: translateX(-45px);
        opacity: 0;
        -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
        transition: opacity 300ms ease, -webkit-transform 300ms ease;
        transition: opacity 300ms ease, transform 300ms ease;
        transition: opacity 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
    }
    .menu__exit:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .menu__exit:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .header {
        height: 669px;
        width: 375px;
    }
    .logoAndNav {
        width: 97%;
        height: 76px;
    }
    .header_text {
        left: 18%;
        top: 30%;
        font-size: 18px;
    }
    .header_p {
        top: 36%;
        left: 9%;
        font-size: 26px;
    }
    .p_text {
        left: 20%;
        font-size: 12px;
        width: 236px;
        top: 43%;
    }
    .header_button {
        left: 33%;
    }
    .header_p_1 {
        top: 36%;
        left: 15%;
        font-size: 26px;
    }
    .p_text_1 {
        left: 19%;
        font-size: 12px;
        width: 236px;
        top: 43%;
    }
    .header_button_1 {
        left: 33%;
    }
    .header_p_2 {
        top: 36%;
        left: 7%;
        font-size: 24px;
    }
    .p_text_2 {
        left: 20%;
        font-size: 12px;
        width: 236px;
        top: 43%;
    }
    .header_button_2 {
        left: 33%;
    }
    .meny label.toggleSubMenu {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: block;
    }
    input.toggleSubMenu:checked ~ a {
        background: silver;

    }
    input.toggleSubMenu:checked ~ ul {
        display: block;
        position: relative;
    }
    .meny label.toggleSubMenu .fa:before {
        content: "\f0d7";
        color: white;
    }
    .meny label.toggleSubMenu .fa {
        position: absolute;
        top: 32px;
        right: 30px;
    }
    .meny input.toggleSubMenu:checked ~ label.toggleSubMenu .fa::before {
        content: "\f0d8";
        color: #ffffff;
    }
}
@media screen and (max-width: 320px) {
    .logo {
        width: 41%;
    }
    .nav {
        width: 43%;
    }
    .menu__btn {
        left: 60px;
    }
    .header {
        width: 320px;
    }
    .header_text {
        left: 16%;
        font-size: 16px;
    }
    .header_p {
        left: 7%;
        font-size: 23px;
    }
    .p_text {
        left: 15%;
    }
    .header_button {
        left: 29%;
        top: 66%;
    }
    .header_button_1 {
        left: 29%;
    }
    .header_button_2 {
        left: 29%;
    }
    .header_p_1 {
        left: 8%;
    }
    .p_text_1 {
        left: 14%;
    }
    .header_p_2 {
        left: 4%;
        font-size: 21px;
    }
    .p_text_2 {
        left: 14%;
    }
    #mob_bg {
        height: 571px;
    }
    .waxom_h {
        font-size: 18px;
    }
    .waxom_text {
        font-size: 10px;
    }
    .waxomImg {
        top: 76px;
        width: 230px;
        right: 0px;
    }
    .waxomImg1 {
        right: 67px;
        bottom: 24px;
        width: 170px;
    }
    .waxomImg2 {
        left: 67px;
        bottom: 123px;
        width: 170px;
    }
}