body {
    margin: 0;
    padding: 0;

}

.header {
    width: 100%;
    height: 1024px;

}

.logoAndNav {
    width: 100%;
    height: 115px;
    position: absolute;
    display: flex;
    z-index: 2;
}
.logo {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.imgLogo {
    width: 65px;
    height: 65px;
    margin-top: 35px;
    margin-right: 2px;
}
.textLogo {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 34px;
    font-weight: 400;
    margin-top: 48px;
    margin-right: 17px;
}
.nav {
    width: 46%;
    height: 100%;
    display: flex;
}
.searche {
    width: 20%;
    height: 100%;
    display: flex;
}
.meny ul,
.meny ol {
    list-style: none;
}

.meny > ul {
    display: flex;
    /*justify-content: center;*/

}
.meny > ul li a {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    padding: 7px 0px 6px 1px;;
    margin-left: 25px;
    position: relative;
    left: 125px;
    transition: 0.5s ease;
    margin-top: 34px;
}
.meny > ul li a:hover {
    color: #a18665;
}
.meny li ul {
    position: absolute;
    min-width: 150px;
    background-color: black;
    display: none;
    transition: 0.5s ease;
    -webkit-box-shadow: -2px 5px 30px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 5px 30px -1px rgba(0,0,0,0.75);
    box-shadow: -2px 5px 30px -1px rgba(0,0,0,0.75);
    margin-top: 20px;
    margin-left: 62px;
}
.meny li > ul li {
    border-bottom: 1px solid white;
}
.meny li > ul li:last-child {
    border-bottom: none;
}
.meny li > ul li ul {
    position: absolute;
    right: -217px;
    bottom: -14px;
}
.meny li > ul li a {
    left: -52px;
    top: -18px;
}
.meny li:hover > ul {
    display: block;
}
.search {
    margin-left: 22px;
    color: white;
    margin-top: 59px;
}
.search:hover {
    color: #a18665;
}
.shop {
    margin-top: 57px;
    margin-left: 4px;
    color: white;
}
.shop:hover {
    color: #a18665;
}
.container_header {
    max-width: 860px;
    min-height: 530px;
    display: flex;
    border: 1px solid red;
    margin: 0 auto;
    position: relative;

}
.header_text {
    position: absolute;
    top: 33%;
    left: 38%;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 36px;
    letter-spacing: 1px;
}
.header_p {
    position: absolute;
    top: 38%;
    left: 34%;
    color: white;
    font-size: 52px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-weight: 800;
}
.p_text {
    position: absolute;
    top: 47%;
    left: 34%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 16px;
    text-align: center;
}
.header_button {
    position: absolute;
    width: 168px;
    height: 50px;
    left: 45%;
    top: 58%;
    background-color: #998675;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 3px;
}
.header_button:hover {
    background-color: white;
    color: #998675;
}
.header_p_1 {
    position: absolute;
    top: 38%;
    left: 37%;
    color: white;
    font-size: 52px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-weight: 800;
}
.p_text_1 {
    position: absolute;
    top: 47%;
    left: 40%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 16px;
    text-align: center;
}
.header_button_1 {
    position: absolute;
    width: 168px;
    height: 50px;
    left: 46%;
    top: 58%;
    background-color: #998675;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 3px;
}
.header_button_1:hover {
    background-color: white;
    color: #998675;
}
.header_p_2 {
    position: absolute;
    top: 38%;
    left: 32%;
    color: white;
    font-size: 52px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-weight: 800;
}
.p_text_2 {
    position: absolute;
    top: 47%;
    left: 40%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 16px;
    text-align: center;
}
.header_button_2 {
    position: absolute;
    width: 168px;
    height: 50px;
    left: 46%;
    top: 56%;
    background-color: #998675;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 3px;
}
.header_button_2:hover {
    background-color: white;
    color: #998675;
}

#mob_bg {
    display: none;
}
#mob_bg2 {
    display: none;
}
#mob_bg3 {
    display: none;
}
.container {
    display: none;
}
.toggleSubMenu {
    display: none;
}
.service {
    height: 370px;
    width: 100%;
    display: flex;
}
.container_service {
    width: 1200px;
    height: 100%;
    display: flex;
    margin: 0 auto;
}
.service_block {
    display: flex;
    width: 25%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.infom_blog {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s ease;
    cursor: pointer;

}
.service_h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #555555;
    margin-top: 25px;
    transition: 0.5s ease;

}
.service_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    line-height: 1.6;
    color: #555555;
}
.service_polosa {
    width: 35%;
    display: flex;
    height: 3px;
    background-color: #f1eee9;
    transition: 0.5s ease;

}
.service_ico {
    color: #555555;
    transition: 0.5s ease;

}
.infom_blog:hover {
    margin-top: -10px;
}
.infom_blog:hover .service_ico {
    color: #c7b299;
}
.infom_blog:hover .service_h1 {
    color: #c7b299;
}
.infom_blog:hover .service_polosa {
    background-color: #c7b299
}
.waxom {
    width: 100%;
    height: 700px;
    background-color: #fbfaf8;
    display: flex;

    overflow-y: hidden;
}
.container_waxom {
    width: 1200px;
    height: 100%;
    display: flex;
    margin: 0 auto;

    flex-direction: column;
    align-items: center;

}
.waxom_h {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #8d8c8c;
    margin-top: 79px;
}
.waxom_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #8d8c8c;
    font-weight: 300;
    margin-top: 1px;
}
.waxomImg {
    position: relative;
    top: 62px;
    z-index: 2;
}
.waxomImg1 {
    position: relative;
    right: 231px;
    bottom: 341px;
}
.waxomImg2 {
    position: relative;
    left: 234px;
    bottom: 794px;
}
.textBoxes {
    width: 100%;
    height: 150px;
    display: flex;
    background: rgba(33,27,25,1);
    background: -moz-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(33,27,25,1)), color-stop(100%, rgba(78,52,39,1)));
    background: -webkit-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
    background: -o-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
    background: -ms-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
    background: linear-gradient(to right, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#211b19', endColorstr='#4e3427', GradientType=1 );

}
.container_box-text {
    width: 1200px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.textBoxes-h1 {
    width: 83%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.textBoxes-button {
    width: 17%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textBoxex_h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #b2afaf;
    font-size: 28px;
    margin-left: 14px;
    margin-top: 45px;
}
.textBoxes_p {
    color: #615855;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-top: -16px;
    margin-left: 10px;
}
.buttonBoxes {
    width: 170px;
    height: 48px;
    background-color: #998675;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 3px solid #736357;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    outline: none;
}
.buttonBoxes::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #736357;
    bottom: -100%;
    left: 0;
    transition: all 0.5s ease;
    /*opacity: 0.5;*/
    z-index: -1;
}
.buttonBoxes:hover {
    color: white;
}
.buttonBoxes:hover::before {
    bottom: 0;
}
.latest {
    width: 100%;
    min-height: 400px;
    display: flex;
}
.container_latest {
    width: 1200px;
    height: auto;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
}
.latest_text {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.latest_h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #555555;
    margin-bottom: 3px;
}
.latest_p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #555555;
    margin-bottom: 8px;
    line-height: 1.7;
}
.latest_batooms {
    width: 100%;
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.latest_button_all {
    width: 70px;
    height: 30px;
    border: 1px solid #998675;
    color: #998675;
    border-radius: 3px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    cursor: pointer;
    position: relative;
    right: 9px;
    transition: all 0.5s ease;
    outline: none;
}
.latest_button_all:hover {
    color: white;
    background-color: #998675;

}
.latest_button {
    width: 120px;
    height: 30px;
    border: 1px solid #998675;
    color: #998675;
    border-radius: 3px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-left: 6px;
    margin-top: 5px;
    cursor: pointer;
    position: relative;
    right: 9px;
    transition: all 0.5s ease;
    outline: none;
}
.latest_button:hover {
    color: white;
    background-color: #998675;
}
.latest_block {
    width: 100%;
    min-height: 380px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.latest_block-block {
    width: 364px;
    height: 335px;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    transition: 0.5s ease;
}
.latest_block-img {
    width: 364px;
    height: 232px;
    display: flex;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.latest_block-img::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    bottom: -100%;
    left: 0;
    transition: all 0.5s ease;
    opacity: 0.5;
}
.latest_block-img:hover::before {
    bottom: 0;
}
.link {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: #cebda7;
    display: none;
    transition: 1s ease;
}
.latest_block-block:hover .link {
    display: block;
}
.latest-searck {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    color: white;
    display: none;
    transition: 1s ease;
}
.latest_block-block:hover .latest-searck {
    display: block;
}
.latest-block-rotate {
    background-color: #fbfaf8;
    width: 50px;
    height: 50px;
    display: flex;
    transform: rotate(45deg);
    z-index: 2;
    position: absolute;
    margin-top: 225px;
    margin-left: 20px;
}
.latest-block-text {
    width: 364px;
    height: 103px;
    display: flex;
    background-color: #fbfaf8;
    z-index: 3;
    flex-direction: column;
    transition: 0.5s ease;
}
.latest-block-text-h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #cebda7;
    margin-left: 25px;
    margin-top: 23px;
    transition: 0.5s ease;

}
.latest-block-text-p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-left: 25px;
    margin-top: -6px;
    color: #d4d4d4;
    transition: 0.5s ease;

}
.latest_block-block:hover .latest-block-rotate {
    background-color: #362f2d;
}
.latest_block-block:hover .latest-block-text {
    background-color: #362f2d;
}
.latest_block-block:hover .latest-block-text-h1 {
    color: white;
}
.latest_block-block:hover .latest-block-text-p {
    color: #867768;
}
.latest-bottom-battom {
    width: 100%;
    height: 94px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.videoContent {
    width: 100%;
    height: auto;
    background: url("../img/bg_video.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*border: 1px solid red;*/
}
.video_container {
    max-width: 1200px;
    height: auto;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.videoButtom {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 11px;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.videoButtonBorder {
    width: 64px;
    height: 64px;
    display: flex;
    border: 4px solid white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.videoButtom:hover .videoButtonBorder {
    border: 4px solid #998675;
}
.play {
    width: 40px;
    height: 40px;
    background: url("../img/play.png");
    background-repeat: no-repeat;
    background-position: center;
}
.videoText {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 500;
    margin-left: 10px;
}
.videoP {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.9;
    margin-left: 27px;
}
.videoTimer {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #c7b299;
    margin-left: 12px;
    margin-bottom: 200px;
}
.device_block {
    width: 100%;
    height: 695px;
    display: flex;
    flex-direction: column;
}
.device_block_top {
    width: 100%;
    height: 54%;
    display: flex;
}
.device_block_bottom {
    width: 100%;
    height: 46%;
    display: flex;
    background-color: #fbfaf8;

}
.device_block_container-top {
    width: 1200px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}
.device_block_container-bottom {
    width: 1200px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}
.device_block_h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #555555;
    font-weight: 600;
    margin-right: 276px;
    margin-bottom: 11px;
}
.device_block_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-right: 18px;
    margin-bottom: 3px;
    line-height: 1.8;
}
.ul_li {
    list-style: none;
}
.ico {
    background: #c7b299;
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 50%;
    left: 10px;
    text-align: center;
    line-height: 1;
    margin-right: 29px;
}
.device_block_li {
    margin-top: 12px;
    color: #c5c4c3;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.ul_li {
    margin-right: 36px;
}
.device_block_img {
    position: absolute;
    bottom: -1px;
    right: 696px;
}
.counters {
    width: 100%;
    min-height: 300px;
    display: flex;
    background: rgba(33,27,25,1);
    background: -moz-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(33,27,25,1)), color-stop(100%, rgba(78,52,39,1)));
    background: -webkit-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
    background: -o-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
    background: -ms-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
    background: linear-gradient(to right, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#211b19', endColorstr='#4e3427', GradientType=1 );

}
.container_cunters {
    width: 1000px;
    height: auto;
    display: flex;
    margin: 0 auto;
}
.counters_block {
    display: flex;
    width: 20%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.container_ico {
    margin-top: 67px;
    color: #baa68f;
}
.container_conter_number {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 200;
    color: white;
    margin-top: 15px;
}
.cunter_text {
    font-family: 'Montserrat', sans-serif;
    color: #baa68f;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    margin-top: -42px;
    margin-right: 2px;
}
.cunter_line {
    width: 15%;
    height: 2px;
    background-color: white;
    margin-right: 10px;
    margin-top: 12px;
}
.recentPost {
    width: 100%;
    min-height: 753px;
    display: flex;
    flex-direction: column;
}
.recentPostTop {
    width: 100%;
    height: 58px;
    display: flex;
    background: #fbfaf8;
}
.recent-block-text {
    max-width: 1200px;
    height: 160px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.recent-block-h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #555555;
}
.recent-block-p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #555555;
    text-align: center;
    letter-spacing: 1px;
}
.container-recent {
    max-width: 1200px;
    height: auto;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;

}
.recentBlock {
    width: 362px;
    height: 392px;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
}
.receptBlockImg {
    width: 362px;
    height: 220px;
    display: flex;
    overflow: hidden;
    position: relative;
}
.receptBlockImg::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    bottom: -100%;
    left: 0;
    transition: all 0.5s ease;
    opacity: 0.5;
}
.receptBlockImg:hover::before {
    bottom: 0;
}
.receptBlockAndH1 {
    height: 172px;
    width: 360px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    /*margin-left: -1px;*/
    transition: 0.5s ease;

}
.receptBlockImgh1 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #555555;
    margin-left: 28px;
    margin-top: 20px;
    position: relative;
    transition: 0.5s ease;

}
.calendar {
    width: 45px;
    height: 59px;
    display: flex;
    position: absolute;
    margin-top: 16px;
    margin-left: 19px;
    flex-direction: column;
    border-radius: 4px;
}
.calendarTop {
    display: flex;
    width: 100%;
    height: 60%;
    background: #363636;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: white;
    border-top-left-radius: 4px ;
    border-top-right-radius: 4px;
    transition: 0.5s ease;
}
.calendarBottom {
    display: flex;
    width: 100%;
    height: 40%;
    background: #252525;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: white;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: 0.5s ease;

}
.receptBlockImgp {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #555555;
    margin-left: 28px;
    margin-top: 5px;
    transition: 0.5s ease;

}
.receptBlockImgA {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #ded3c6;
    text-decoration: none;
    margin-left: 28px;
    margin-top: 11px;
}
.recent-ico {
    margin-left: 10px;
}
.containerNext {
    max-width: 1200px;
    height: 140px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.recentButton {
    width: 68px;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.recentButtonNext {
    width: 22px;
    height: 22px;
    display: flex;
    border: 1px solid #c7b299;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
}
.recentButtonPrev {
    width: 22px;
    height: 22px;
    display: flex;
    border: 1px solid #c7b299;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
}
.recentButtonIco {
    color: #c7b299;
}
.recentButtonNext:hover {
    border: 1px solid #362f2d;
}
.recentButtonNext:hover .recentButtonIco {
    color: #362f2d;
}
.recentButtonPrev:hover {
    border: 1px solid #362f2d;
}
.recentButtonPrev:hover .recentButtonIco {
    color: #362f2d;
}
.recentBlock:hover .receptBlockAndH1 {
    background: #362f2d;
    border-bottom: 1px solid #362f2d;
    border-left: 1px solid #362f2d;
    border-right: 1px solid #362f2d;
}
.recentBlock:hover .receptBlockImgh1 {
    color: #c7b299;
}
.recentBlock:hover .receptBlockImgp {
    color: #868281;
}
.recentBlock:hover .calendarTop {
    background: #c7b299;
}
.recentBlock:hover .calendarBottom {
    background: #a48d72;
}
.partners {
    width: 100%;
    height: auto;
    display: flex;
    background: url("../img/bg_parnters.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
.partners_comtainer {
    max-width: 1200px;
    height: auto;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 130px;
}
.parnterImg {
    margin-left: 20px;
}
.footer {
    width: 100%;
    height: 617px;
    display: flex;
    background-color: #191919;
    flex-direction: column;
}
.footerTop {
    width: 100%;
    height: 510px;
    display: flex;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.footer_container {
    width: 1200px;
    height: auto;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.footerBlock {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.waxomlogoBlock {
    width: 100%;
    height: 85px;
    display: flex;
    margin-top: 55px;
}
.footerBottom {
    width: 100%;
    height: 107px;
    background-color: black;
    display: flex;
}
.footerImg {
    width: 68px;
    height: 68px;
    margin-top: 12px;
    margin-left: 12px;
}
.footerTextWaxom {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 33px;
    margin-top: 25px;
}
.itsWaxomText {
    font-family: 'Montserrat', sans-serif;
    color: #4f4f4f;
    font-weight: 300;
    font-size: 14px;
    margin-left: 15px;
    line-height: 1.8;
    margin-top: 11px;
}
.readMore {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    margin-left: 13px;
}
.footerRecentPost {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 24px;
    margin-left: 14px;
    margin-top: 97px;
}
.data1 {
    color: #262626;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin-left: 14px;
    margin-top: 7px;
}
.dataText1 {
    color: #555555;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    margin-left: 15px;
    margin-top: -6px;
}
.footerIco {
    margin-left: 10px;
}
.data2 {
    color: #eaeaea;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin-left: 14px;
    margin-top: 14px;
}
.dataText2 {
    color: #78634b;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    margin-left: 15px;
    margin-top: -6px;
}
.footerOtbivka {
    width: 90%;
    height: 2px;
    background-color: #252525;
    margin-top: 9px;
    margin-left: 18px;

}
.twitterText1 {
    color: #555555;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    margin-left: 15px;
    margin-top: 5px;
}
.twiterTime1 {
    font-size: 12px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    margin-left: 15px;
    margin-top: -5px;
}
.twitterText2 {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    margin-left: 14px;
}
.twitterTime2 {
    font-size: 12px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    margin-left: 15px;
    margin-top: -3px;
}
.twitterText3 {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    margin-left: 15px;
    margin-top: 16px;
}
.twitterTime3 {
    font-size: 12px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    margin-left: 15px;
    margin-top: -7px;
}
.dribbleImg {
    width: 100%;
    height: 206px;
    display: flex;
    position: relative;
}
.DribbbleImg4 {
    position: absolute;
    margin-left: 154px;
    margin-top: 115px;
}
.DribbbleImg3 {
    position: absolute;
    margin-top: 115px;
    margin-left: 14px;
}
.DribbbleImg2 {
    position: absolute;
    margin-left: 154px;
    margin-top: 6px;
}
.DribbbleImg1 {
    position: absolute;
    margin-left: 14px;
    margin-top: 7px;
}
@media screen and (max-width: 1800px){
    .logo {
        width: 23%;
    }
    .nav {
        width: 57%;
    }
    .meny > ul li a {
        padding: 7px 11px 6px 1px;
        margin-left: 16px;
        left: 91px;
    }
    .meny li ul {
        margin-top: 0px;
    }
    .shop {
        margin-left: 23px;
    }
    .header_text {
        left: 36%;
        /*top: 30%;*/
    }
    .header_p {
        /*top: 36%;*/
        left: 33%;
    }
    .p_text {
        left: 33%;
    }
    .header_button {
        left: 45%;
    }
    .header_p_1 {
        left: 34%;
        /*top: 36%;*/
    }
    .p_text_1 {
        left: 37%;
    }
    .header_button_1 {
        left: 45%;
    }
    .header_p_2 {
        left: 30%;
        /*top: 36%;*/
    }
    .p_text_2 {
        left: 39%;
    }
    .header_button_2 {
        left: 45%;
    }
    /*.bg {*/
        /*height: 770px;*/
    /*}*/
    /*.bg1 {*/
        /*height: 770px;*/
    /*}*/
    /*.bg2 {*/
        /*height: 770px;*/
    /*}*/
    /*.header {*/
        /*height: 770px;*/
    /*}*/
    .videoButtom {
        margin-top: 100px;
    }
    .videoTimer {
        margin-bottom: 100px;
    }
    .partners_comtainer {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 1460px){
    .logo {
        width: 23%;
    }
    .nav {
        width: 57%;
    }
    .meny > ul li a {
        padding: 7px 11px 6px 1px;
        margin-left: 16px;
        left: 91px;
    }
    .meny li ul {
        margin-top: 0px;
    }
    .shop {
        margin-left: 23px;
    }
    .header_text {
        left: 34%;
        top: 30%;
    }
    .header_p {
        top: 36%;
        left: 29%;
    }
    .p_text {
        left: 30%;
    }
    .header_button {
        left: 45%;
    }
    .header_p_1 {
        left: 32%;
        top: 36%;
    }
    .p_text_1 {
        left: 35%;
    }
    .header_button_1 {
        left: 44%;
    }
    .header_p_2 {
        left: 26%;
        top: 36%;
    }
    .p_text_2 {
        left: 36%;
    }
    .header_button_2 {
        left: 43%;
    }
    .bg {
        height: 770px;
    }
    .bg1 {
        height: 770px;
    }
    .bg2 {
        height: 770px;
    }
    .header {
        height: 770px;
    }
}
@media screen and (max-width: 1350px){
    .logo {
        width: 23%;
    }
    .nav {
        width: 57%;
    }
    .meny > ul li a {
        padding: 7px 8px 6px 1px;
        margin-left: 2px;
        left: 6px;
    }
    .meny li ul {
        margin-top: 0px;
        margin-left: 0px;
    }
    .meny li > ul li a {
        left: -23px;
        top: -8px;
    }
    .shop {
        margin-left: 53px;
    }
    .header_text {
        left: 31%;
        top: 30%;
        font-size: 30px;
    }
    .header_p {
        top: 36%;
        left: 28%;
        font-size: 40px;
    }
    .p_text {
        left: 30%;
        font-size: 12px;
    }
    .header_button {
        left: 45%;
        width: 137px;
        height: 39px;
        top: 56%;
        font-size: 12px;
    }
    .header_p_1 {
        left: 30%;
        top: 36%;
        font-size: 40px;
    }
    .p_text_1 {
        left: 29%;
    }
    .header_button_1 {
        left: 42%;
        width: 137px;
        height: 39px;
        top: 56%;
        font-size: 12px;
    }
    .header_p_2 {
        left: 24%;
        top: 36%;
        font-size: 40px;
    }
    .p_text_2 {
        left: 32%;
    }
    .header_button_2 {
        left: 43%;
        width: 137px;
        height: 39px;
        top: 56%;
        font-size: 12px;
    }
    .bg {
        height: 770px;
    }
    .bg1 {
        height: 770px;
    }
    .bg2 {
        height: 770px;
    }
    .header {
        height: 770px;
    }
    .waxomImg {
        top: 131px;
        width: 650px;
    }
    .waxomImg1 {
        right: 223px;
        bottom: 223px;
        width: 600px;
    }
    .waxomImg2 {
        left: 231px;
        bottom: 569px;
        width: 600px;
    }
    .videoButtom {
        margin-top: 50px;
    }
    .videoTimer {
        margin-bottom: 50px;
    }
    .device_block_img {
        right: 585px;
    }
    .recentBlock {
        margin-top: 20px;
    }
    .parnterImg {
        width: 200px;
        height: 200px;
    }
    .DribbbleImg1 {
        width: 110px;
    }
    .DribbbleImg2 {
        width: 110px;
        margin-left: 133px;
    }
    .DribbbleImg3 {
        width: 110px;
    }
    .DribbbleImg4 {
        width: 110px;
        margin-left: 133px;
    }


}
@media screen and (max-width: 1000px) {
    .logo {
        width: 26%;
    }
    .nav {
        width: 54%;
    }
    .meny > ul li a {
        padding: 8px 4px 9px 1px;
        margin-left: 4px;
        left: 11px;
        font-size: 10px;
    }
    .imgLogo {
        width: 47px;
        height: 47px;
    }
    .textLogo {
        font-size: 29px;
        margin-top: 47px;

    }
    .header_text {
        left: 28%;
        font-size: 27px;
    }
    .header_p {
        top: 37%;
        left: 23%;
        font-size: 37px;
    }
    .p_text {
        left: 22%;
        font-size: 12px;
    }
    .header_button {
        left: 41%;
    }
    .header_p_1 {
        top: 37%;
        left: 27%;
        font-size: 37px;
    }
    .p_text_1 {
        left: 32%;
        font-size: 12px;
    }
    .header_button_1 {
        left: 41%;
    }
    .header_p_2 {
        top: 37%;
        left: 20%;
        font-size: 37px;
    }
    .p_text_2 {
        left: 22%;
        font-size: 12px;
        left: 33%;
    }
    .header_button_2 {
        left: 41%;
    }
    .waxom {
        height: 550px;
    }
    .waxomImg {
        top: 40px;
        width: 550px;
        right: 20px;
    }
    .waxomImg1 {
        right: 161px;
        bottom: 227px;
        width: 451px;
    }
    .waxomImg2 {
        left: 126px;
        bottom: 493px;
        width: 450px;
    }
    .videoButtom {
          margin-top: 0px;
      }
    .videoTimer {
        margin-bottom: 0px;
    }
    .device_block {
        height: 517px;
    }
    .device_block_h1 {
        font-size: 25px;
        margin-right: 211px;
    }
    .device_block_text {
        font-size: 13px;
        margin-right: 10px;
    }
    .device_block_li {
        font-size: 13px;
    }
    .ico {
        width: 15px;
        height: 15px;
    }
    .device_block_img {
        right: 498px;
        width: 335px;
    }
    .parnterImg {
        width: 120px;
        height: 120px;
    }
    .DribbbleImg1 {
        width: 80px;
    }
    .DribbbleImg2 {
        width: 80px;
        margin-left: 100px;
    }
    .DribbbleImg3 {
        width: 80px;
        margin-top: 76px;
    }
    .DribbbleImg4 {
        width: 80px;
        margin-top: 76px;
        margin-left: 100px;
    }
}
@media screen and (max-width: 800px)  {
    .imgLogo {
        width: 35px;
        height: 35px;
    }
    .meny > ul {
        padding: 0;
    }
    .meny > ul li a {
        padding: 0px 0px 9px 1px;
        margin-left: 4px;
        left: 1px;
        font-size: 9px;
    }
    .shop {
        margin-top: 48px;
        margin-left: 28px;
    }
    .search {
        margin-top: 48px;
    }
    .textLogo {
        font-size: 25px;
        margin-top: 40px;
    }
    .header_text {
        left: 28%;
        font-size: 22px;
    }
    .header_p {
        top: 35%;
        left: 20%;
        font-size: 33px;
    }
    .p_text {
        left: 16%;
        font-size: 12px;
    }.header_p_1 {
         top: 35%;
             left: 24%;
         font-size: 33px;
     }
    .p_text_1 {
        left: 25%;
        font-size: 12px;
    }
    .header_p_2 {
        top: 35%;
        left: 15%;
        font-size: 33px;
    }
    .p_text_2 {
        left: 30%;
        font-size: 12px;
    }
    .waxomImg {
        top: 106px;
        width: 400px;
        right: 5px;
    }
    .waxomImg1 {
        right: 103px;
        bottom: 97px;
        width: 350px;
    }
    .waxomImg2 {
        left: 101px;
        bottom: 304px;
        width: 350px
    }
    .textBoxes {
        height: 208px;
    }
    .container_box-text {
        flex-direction: column;
    }
    .textBoxes-h1 {
        width: 100%;
        height: 60%;
        align-items: center;
    }
    .textBoxes-button {
        width: 100%;
        height: 40%;
    }
    .videoButtom {
        width: 70px;
        height: 70px;
        margin-top: 20px;
    }
    .videoButtonBorder {
        width: 45px;
        height: 45px;
    }
    .videoText {
        font-size: 22px;
    }
    .videoP {
        font-size: 12px;
    }
    .videoTimer {
        font-size: 12px;
        margin-bottom: 20px;
    }
    .device_block_h1 {
        font-size: 23px;
        margin-right: 187px;
    }
    .device_block_text {
        font-size: 12px;
        margin-right: 10px;
    }
    .ul_li {
        margin-right: 36px;
    }
    .device_block_li {
        font-size: 11px
    }
    .ico {
        width: 13px;
        height: 13px;
    }
    .device_block_img {
        right: 445px;
        width: 276px;
    }
    .parnterImg {
        width: 80px;
        height: 80px;
    }
    .footer {
        height: 1232px;
    }
    .footerTop {
        height: 1120px;
    }
    .footer_container {
        flex-direction: column;
        height: 1138px;
    }
    .footerBlock {
        width: 100%;
        height: 25%;
        align-items: center;
    }
    .waxomlogoBlock {
        justify-content: center;
        margin-top: 0px;
    }
    .footerRecentPost {
        margin-top: 0px;
    }
    .dribbleImg {
        width: 26%;
    }
}
@media screen and (max-width: 600px) {
    html{

        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    .imgLogo {
        width: 34px;
        height: 34px;
        margin-top: 25px;
        margin-left: 25px;
    }
    .textLogo {
        font-size: 18px;
        margin-top: 32px;
        margin-right: 13px;
    }
    .logo {
        width: 32%;
    }
    .nav {
        width: 44%;
    }
    .meny > ul {
        display: block;
        padding: 0px;
        position: absolute;
        background-color: black;
        width: 351px;
        right: -2px;
        top: 58px;
        text-align: center;
        transition: 1s ease;

    }
    .meny > ul li a {
        padding: 0px;
        border-bottom: 1px solid white;
        margin-left: 0px;
        left: 0px;
    }
    .meny li:hover > ul {
        display: none;
    }
    .meny li > ul li a {
        left: 0px;
    }

    .shop {
        margin-left: 0px;
        margin-top: 36px;
    }
    .search {
        margin-top: 36px;
    }
    .meny {
        display: none;
    }

    .menu__btn {
        position: relative;
        display: block;
        height: 40px;
        width: 40px;
        border: 3px solid white;
        border-radius: 0;
        -webkit-transition: border-radius 300ms ease;
        transition: border-radius 300ms ease;
        left: 112px;
        top: 19px;
    }
    .menu__btn:hover {
        border-radius: 50%;
    }
    .menu__btn.is-open .menu__burger {
        opacity: 0;
        -webkit-transform: translateX(45px);
        transform: translateX(45px);
    }
    .menu__btn.is-open .menu__exit {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .menu__burger,
    .menu__burger:before,
    .menu__burger:after {
        display: block;
        content: '';
        width: 18px;
        height: 3px;
        background-color: white;
        position: absolute;
    }

    .menu__burger {
        left: 12px;
        top: 18px;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
        -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
        transition: opacity 300ms ease, -webkit-transform 300ms ease;
        transition: opacity 300ms ease, transform 300ms ease;
        transition: opacity 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
    }
    .menu__burger:before {
        top: -8px;
    }
    .menu__burger:after {
        top: 8px;
    }

    .menu__exit:before,
    .menu__exit:after {
        display: block;
        content: '';
        width: 22px;
        height: 3px;
        background-color: white;
        position: absolute;
    }

    .menu__exit {
        position: absolute;
        top: 18px;
        left: 10px;
        -webkit-transform: translateX(-45px);
        transform: translateX(-45px);
        opacity: 0;
        -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
        transition: opacity 300ms ease, -webkit-transform 300ms ease;
        transition: opacity 300ms ease, transform 300ms ease;
        transition: opacity 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
    }
    .menu__exit:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .menu__exit:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .logoAndNav {
        width: 97%;
        height: 76px;
    }
    .header_text {
        left: 22%;
        top: 30%;
        font-size: 18px;
    }
    .header_p {
        top: 36%;
        left: 13%;
        font-size: 26px;
    }
    .p_text {
        left: 23%;
        font-size: 12px;
        width: 236px;
        top: 43%;
    }
    .header_button {
        left: 33%;
    }
    .header_p_1 {
        top: 36%;
        left: 19%;
        font-size: 26px;
    }
    .p_text_1 {
        left: 23%;
        font-size: 12px;
        width: 236px;
        top: 43%;
    }
    .header_button_1 {
        left: 33%;
    }
    .header_p_2 {
        top: 36%;
        left: 11%;
        font-size: 24px;
    }
    .p_text_2 {
        left: 21%;
        font-size: 12px;
        width: 236px;
        top: 43%;
    }
    .header_button_2 {
        left: 33%;
    }
    .meny label.toggleSubMenu {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: block;
    }
    input.toggleSubMenu:checked ~ a {
        background: silver;

    }
    input.toggleSubMenu:checked ~ ul {
        display: block;
        position: relative;
    }
    .meny label.toggleSubMenu .fa:before {
        content: "\f0d7";
        color: white;
    }
    .meny label.toggleSubMenu .fa {
        position: absolute;
        top: 32px;
        right: 30px;
    }
    .meny input.toggleSubMenu:checked ~ label.toggleSubMenu .fa::before {
        content: "\f0d8";
        color: #ffffff;
    }
    .service {
        height: 951px;
    }
    .infom_blog {
        width: 100%;
        height: 100%;
    }
    .service_block {
        width: 100%;
        height: 25%;
    }
    .container_service {
        flex-direction: column;
    }
    .waxom_h {
        font-size: 22px;
    }
    .waxom_text {
        font-size: 12px;
    }
    .waxom {
        height: 385px;
    }
    .waxomImg {
        top: 45px;
        width: 250px;
        right: 5px;
    }
    .waxomImg1 {
        right: 84px;
        bottom: 71px;
        width: 200px;
    }
    .waxomImg2 {
        left: 82px;
        bottom: 189px;
        width: 200px;
    }
    .textBoxex_h1 {
        font-size: 22px;
        margin-left: 0px;
    }
    .textBoxes_p {
        font-size: 15px;
        margin-top: -4px;
    }
    .device_block {
        height: 316px;
    }
    .device_block_h1 {
        font-size: 18px;
        margin-right: 0px;
    }
    .device_block_text {
        font-size: 10px;
        margin-right: 0px;
        text-align: center;
    }
    .ul_li {
        margin-right: 16px;
    }
    .device_block_li {
        font-size: 9px;
        margin-top: 4px;
    }
    .ico {
        margin-right: 10px;
        width: 11px;
        height: 11px;
    }
    .device_block_img {
        right: 326px;
        width: 105px;
    }
    .device_block_container-top {
        align-items: center;
        justify-content: center;
    }
    .container_cunters {
        flex-direction: column;
    }
    .counters_block {
        height: 244px;
        width: 100%;
    }
    .cunter_text {
        margin-right: 0px;
    }
    .cunter_line {
        margin-right: 0px;
    }
    .parnterImg {
        width: 50px;
        height: 50px;
    }
}







@media screen and (max-width: 375px) {
    html{

        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    /*body*/
    /*{*/
        /*width: 100%;*/
        /*max-width: 100%;*/
        /*overflow-x: hidden;*/
    /*}*/
    #bg {
        display: none;
    }
    #bg1 {
        display: none;
    }
    #bg2 {
        display: none;

    }
    #mob_bg {
        display: block;
        height: 668px;
    }
    #mob_bg2 {
        display: block;
        height: 668px;
    }
    #mob_bg3 {
        display: block;
        height: 668px;
    }
    .imgLogo {
        width: 34px;
        height: 34px;
        margin-top: 25px;
        margin-left: 25px;
    }
    .textLogo {
        font-size: 18px;
        margin-top: 32px;
        margin-right: 13px;
    }
    .logo {
        width: 32%;
    }
    .nav {
        width: 44%;
    }
    .meny > ul {
        display: block;
        padding: 0px;
        position: absolute;
        background-color: black;
        width: 351px;
        right: -2px;
        top: 58px;
        text-align: center;
        transition: 1s ease;

    }
    .meny > ul li a {
        padding: 0px;
        border-bottom: 1px solid white;
        margin-left: 0px;
        left: 0px;
    }
    .meny li:hover > ul {
        display: none;
    }
    .meny li > ul li a {
        left: 0px;
    }

    .shop {
        margin-left: 0px;
        margin-top: 36px;
    }
    .search {
        margin-top: 36px;
    }
    .meny {
        display: none;
    }

    .menu__btn {
        position: relative;
        display: block;
        height: 40px;
        width: 40px;
        border: 3px solid white;
        border-radius: 0;
        -webkit-transition: border-radius 300ms ease;
        transition: border-radius 300ms ease;
        left: 100px;
        top: 19px;
    }
    .menu__btn:hover {
        border-radius: 50%;
    }
    .menu__btn.is-open .menu__burger {
        opacity: 0;
        -webkit-transform: translateX(45px);
        transform: translateX(45px);
    }
    .menu__btn.is-open .menu__exit {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .menu__burger,
    .menu__burger:before,
    .menu__burger:after {
        display: block;
        content: '';
        width: 18px;
        height: 3px;
        background-color: white;
        position: absolute;
    }

    .menu__burger {
        left: 12px;
        top: 18px;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
        -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
        transition: opacity 300ms ease, -webkit-transform 300ms ease;
        transition: opacity 300ms ease, transform 300ms ease;
        transition: opacity 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
    }
    .menu__burger:before {
        top: -8px;
    }
    .menu__burger:after {
        top: 8px;
    }

    .menu__exit:before,
    .menu__exit:after {
        display: block;
        content: '';
        width: 22px;
        height: 3px;
        background-color: white;
        position: absolute;
    }

    .menu__exit {
        position: absolute;
        top: 18px;
        left: 10px;
        -webkit-transform: translateX(-45px);
        transform: translateX(-45px);
        opacity: 0;
        -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
        transition: opacity 300ms ease, -webkit-transform 300ms ease;
        transition: opacity 300ms ease, transform 300ms ease;
        transition: opacity 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
    }
    .menu__exit:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .menu__exit:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .header {
        height: 669px;
        width: 375px;
    }
    .logoAndNav {
        width: 97%;
        height: 76px;
    }
    .header_text {
        left: 18%;
        top: 30%;
        font-size: 18px;
    }
    .header_p {
        top: 36%;
        left: 9%;
        font-size: 26px;
    }
    .p_text {
        left: 20%;
        font-size: 12px;
        width: 236px;
        top: 43%;
    }
    .header_button {
        left: 33%;
    }
    .header_p_1 {
        top: 36%;
        left: 15%;
        font-size: 26px;
    }
    .p_text_1 {
        left: 19%;
        font-size: 12px;
        width: 236px;
        top: 43%;
    }
    .header_button_1 {
        left: 33%;
    }
    .header_p_2 {
        top: 36%;
        left: 7%;
        font-size: 24px;
    }
    .p_text_2 {
        left: 20%;
        font-size: 12px;
        width: 236px;
        top: 43%;
    }
    .header_button_2 {
        left: 33%;
    }
    .meny label.toggleSubMenu {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: block;
    }
    input.toggleSubMenu:checked ~ a {
        background: silver;

    }
    input.toggleSubMenu:checked ~ ul {
        display: block;
        position: relative;
    }
    .meny label.toggleSubMenu .fa:before {
        content: "\f0d7";
        color: white;
    }
    .meny label.toggleSubMenu .fa {
        position: absolute;
        top: 32px;
        right: 30px;
    }
    .meny input.toggleSubMenu:checked ~ label.toggleSubMenu .fa::before {
        content: "\f0d8";
        color: #ffffff;
    }
    .textBoxex_h1 {
        font-size: 18px;
    }
    .textBoxes_p {
        font-size: 12px;
        margin-left: -6px;
    }
    .buttonBoxes {
        width: 145px;
        height: 41px;
    }
    .textBoxes-button {
        height: 60%;
    }
    .textBoxes-h1 {
        height: 40%;
    }
    .latest_p {
        font-size: 15px;
    }
    .videoTimer {
        margin-left: 0px;
    }
    .videoP {
        margin-left: 0px;
    }
    .videoText {
        margin-left: 0px;
    }
    .device_block_text {
        font-size: 8px;
    }
    .ul_li {
        margin-right: 4px;
    }
    .device_block_li {
        font-size: 8px;
        margin-top: 3px;
    }
    .device_block_img {
        right: 280px;
        width: 105px;
    }
    .recentBlock {
        margin-right: 1px;
    }
    .footerRecentPost {
        margin-top: 12px;
    }
    .footer_container {
        height: 1332px;
    }
    .footer {
        height: 1335px;
    }
    .footerTop {
        height: 1230px;
    }
    .dribbleImg {
        width: 51%;
    }
    .footerImg {
        margin-left: 0px;
    }
}
@media screen and (max-width: 320px) {
    .logo {
        width: 41%;
    }
    .nav {
        width: 43%;
    }
    .menu__btn {
        left: 60px;
    }
    .header {
        width: 320px;
    }
    .header_text {
        left: 16%;
        font-size: 16px;
    }
    .header_p {
        left: 7%;
        font-size: 23px;
    }
    .p_text {
        left: 15%;
    }
    .header_button {
        left: 29%;
        top: 66%;
    }
    .header_button_1 {
        left: 29%;
    }
    .header_button_2 {
        left: 29%;
    }
    .header_p_1 {
        left: 8%;
    }
    .p_text_1 {
        left: 14%;
    }
    .header_p_2 {
        left: 4%;
        font-size: 21px;
    }
    .p_text_2 {
        left: 14%;
    }
    #mob_bg {
        height: 571px;
    }
    .waxom_h {
        font-size: 18px;
    }
    .waxom_text {
        font-size: 10px;
    }
    .waxomImg {
        top: 76px;
        width: 230px;
        right: 0px;
    }
    .waxomImg1 {
        right: 67px;
        bottom: 24px;
        width: 170px;
    }
    .waxomImg2 {
        left: 67px;
        bottom: 123px;
        width: 170px;
    }
    .textBoxex_h1 {
        font-size: 16px;
    }
    .textBoxes_p {
        font-size: 11px;
    }
    .latest_block-block {
        width: 320px;
    }
    .latest-img {
        width: 320px;
    }
    .latest-block-text {
        width: 320px;
    }
    .latest_block-img {
        width: 320px;
    }
    .device_block_text {
        font-size: 7px;
    }
    .ul_li {
        margin-right: 3px;
    }
    .device_block_li {
        font-size: 7px;
        margin-top: 3px;
    }
    .device_block_img {
        right: 245px;
        width: 90px;
    }
    .recentBlock {
        width: 320px;
        margin-left: 0px;
    }
    .receptBlockImg {
        width: 320px;
    }
    .receptBlockAndH1 {
        width: 318px;
    }
    .footer_container {
        height: 1349px;
    }
    .footerTop{
        height: 1243px;
    }
    .footer {
        height: 1349px;
    }
}